 article
{
    color: #800000;
    font-family: "Baskerville Old Face";
    font-size: 1.5em;
    text-align: justify;
    width: 100%;
    margin: auto;
}
 
.texte_haut
{
    width: 70%;
    float: right;
    display: inline-block;
    vertical-align: middle;
 
}
 
.texte_bas
{
    margin-bottom: 20px;
    clear: both;
    width: 70%;
    float: left;
    display: inline-block;
    vertical-align: middle;
}
 
.img_haut
{
    margin-left: 5px;
    float: left;
    width: 28%;
    vertical-align: middle;
    display: inline-block;
    box-shadow: 5px 5px 4px #1c1a19;
}
 
.img_bas
{
    margin-right: 5px;
    margin-bottom: 20px;
    float: right;
    width: 28%;
    vertical-align: middle;
    display: inline-block;
    box-shadow: 5px 5px 4px #1c1a19;
   } 

.centrer 
p {
  text-align: center;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
	div {
background: linear-gradient(135deg, red, blue);
}
}
.paragraphe
{
background-color: #fff;
width: 300px;
height: 200px;
}

.onglet
{
        display:inline-block;
        margin-left:5px;
        margin-right:5px;
        padding:3px;
        border:1px solid black;
        cursor:pointer;
}
.onglet_a
{
        color:#000000;
        text-decoration:none;
}
.onglet_n
{
        background:#ddd;
        border-bottom:1px solid black;
}
.onglet_y
{
        background:#dddddd;
        border-bottom:0px solid black;
        padding-bottom:4px;
}
.contenu
{
        background-color:#dddddd;
        border:1px solid black;
        margin-top:-1px;
        padding:5px;
}
ul
{
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px
}
h1
{
        margin:0px;
        padding:0px;
}