
 <P>
        
        <FONT color="#00ff00">Texte en vert</FONT><BR>
        <FONT color="#0000ff">Texte en bleu</FONT><BR>
        <FONT color="#5a98f7">Texte en couleur quelconque</FONT>
 
    <P>
        <FONT size="1">Texte en 8 points</FONT><BR>
        <FONT size="2">Texte en 10 points</FONT><BR>
        <FONT size="4">Texte en 14 points</FONT>
 
    <P>
        <FONT face="Verdana">Texte en Verdana</FONT><BR>
        <FONT face="Times New Roman">Texte en Times New Roman</FONT>
<div class="centrer">
        <p> CJ : Prix Gustave Flaubert </p>
      </div>
      --color-white: #fff;
    --color-grey1: #f8f8f8;
    --color-grey2: #eee;
    --color-grey3: #ddd;
    --color-grey4: #cccbcb;
    --color-grey5: #c5c5c5;
    --color-grey6: #b2b2b1;
    --color-grey7: #909090;
    --color-grey8: #7b7b7a;
    --color-grey9: #6f6f6f;
    --color-grey10: #575756;
    --color-grey11: #3c3c3b;
    --color-black: #1d1d1b;
    --color-green: #3fa435;
    --color-blue: #3873b8;
    --color-red: #d61e00;
    -- bleu : 0000ff;
    